<div id="signupDiv">


    <form action="/signup" method="post">
        <fieldset><legend>Sign Up</legend>
            <label for="signUser">Username: </label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="signPW">Password: </label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit" id="signupBtn" name="signupBtn" value="Sign Up!">Sign Up!</button>
            <br>
        </fieldset>
    </form>
</div>
<p>Already did this before? <a href="/login">Log in here</a>!</p>